<div class="lg:w-1/4 md:w-1/2 p-4 w-1/4 mb-3">
  <a class="block relative h-60 rounded overflow-hidden" href="/product?id={%ID%}">
    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{%IMAGE%}" />
  </a>
  <div class="mt-4 text-center">
    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{%CATEGORY%}</h3>
    <h2 class="text-gray-900 title-font text-lg font-medium"><a href="/product?id={%ID%}">{%NAME%}</a></h2>
    <p class="mt-1">{%PRICE%}</p>
  </div>
</div>
